<div class="row">
  <div class="col-xs-12">
    <button (click)="onReloadPage()" class="btn btn-primary">Reload</button>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        *ngFor="let server of servers"
        [queryParams]="{'allowEdit': server.id === 3}"
        [routerLink]="[server.id]"
        class="list-group-item"
        fragment="loading">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
    <!--<app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>-->
  </div>
</div>

