<div class="row">
  <div class="col-xs-12">
    <!-- a leading slash means this is an absolute path -->
    <a routerLink="/servers">absolute path</a>
    <br>
    <!-- no leading slash means relative path (relative to the current path) -->
    <a routerLink="servers">relative path</a>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        *ngFor="let server of servers"
        class="list-group-item"
        href="#">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
</div>

