<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
          <li (click)="onNavigate('dashboard')" [ngClass]="{active: selectedTab==='dashboard'}"><a href="#">
            Dashboard </a></li>
          <li (click)="onNavigate('add-habit')" [ngClass]="{active: selectedTab==='add-habit'}"><a href="#">Add
            Habit</a></li>
        </ul>

        <!-- Search Bar-->
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input class="form-control" placeholder="Search" type="text">
          </div>
          <button class="btn btn-default" type="submit">Submit</button>
        </form>

      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-dashboard *ngIf="selectedTab==='dashboard'" [habits]="habits"></app-dashboard>
      <app-add-habit (newHabitAddedEvent)="onNewHabitCreated($event)" *ngIf="selectedTab==='add-habit'"></app-add-habit>
    </div>
  </div>
</div>
