<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active">
            <a routerLink="dashboard"> Dashboard </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="add-habit">Add Habit</a>
          </li>
        </ul>

        <!-- Search Bar-->
        <form class="navbar-form navbar-right">
          <div class="input-group">
            <input #search (keyup)="onSearchHabit(search.value)" class="form-control" placeholder="Search" type="text">
            <span class="input-group-addon" id="sizing-addon2">
              <span class="glyphicon glyphicon-search"></span>
            </span>
          </div>
        </form>

      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
