<div [ngClass]="{oddHabit: habit.id % 2 === 0}" class="habit-info">
  <div style="display: flex">
    <div #dropdown (click)="onDropdownClicked(dropdown)" class="dropdown" style="width: 10%; cursor: pointer">
      <span class="glyphicon glyphicon-option-vertical"></span>
      <ul aria-labelledby="dropdownMenu1" class="dropdown-menu">
        <li><a [routerLink]="'/'+EDIT_HABIT_PATH"><span class="glyphicon glyphicon-pencil"
                                                        style="color: deepskyblue"></span> Edit</a>
        </li>
        <li (click)="onDeleteHabit(habit)"><a><span class="glyphicon glyphicon-alert"
                                                    style="color: tomato"></span> Delete</a></li>
      </ul>
    </div>
    <p style="width: 90%">
      {{habit.name}}
    </p>
  </div>
  <p>
    <span *ngIf="habit.impact ==='positive'" class="glyphicon glyphicon-plus-sign" style="color: #00b000"></span>
    <span *ngIf="habit.impact ==='negative'" class="glyphicon glyphicon-minus-sign" style="color: red"></span>
    <span *ngIf="habit.impact ==='neutral'" class="glyphicon glyphicon-question-sign" style="color: #ccc"></span>
    {{habit.impact}}
  </p>
  <p>{{habit.times_a_day}}</p>
  <p>{{habit.days_per_week}}</p>
</div>
