<div [ngClass]="{oddHabit: index % 2 !== 0}" class="habit-info">
  <div style="display: flex">
    <div #dropdown (click)="onDropdownClicked(dropdown)" class="dropdown" style="width: 10%; cursor: pointer">
      <span class="glyphicon glyphicon-option-vertical"></span>
      <ul aria-labelledby="dropdownMenu1" class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider" role="separator"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
    <p style="width: 90%">
      {{habit.name}}
    </p>
  </div>
  <p>
    <span *ngIf="habit.impact ==='positive'" class="glyphicon glyphicon-plus-sign" style="color: #00b000"></span>
    <span *ngIf="habit.impact ==='negative'" class="glyphicon glyphicon-minus-sign" style="color: red"></span>
    <span *ngIf="habit.impact ==='neutral'" class="glyphicon glyphicon-question-sign" style="color: #ccc"></span>
    {{habit.impact}}
  </p>
  <p>{{habit.times_a_day}}</p>
  <p>{{habit.days_per_week}}</p>
</div>
