<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Header title -->
    <div class="navbar-header">
      <button (click)="collapsed = !collapsed" class="navbar-toggle" type="button">
        <span *ngFor="let iconBar of [1, 2, 3]" class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Recipe Book</a>
    </div>

    <!-- Collapsible section -->
    <div (window:resize)="collapsed = true" [class.collapse]="collapsed" class="navbar-collapse">
      <!-- Navigation links section -->
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/recipe']">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
      </ul>
      <!-- End of navigation links section -->

      <!-- Dropdown menu -->
      <ul class="nav navbar-nav navbar-right">
        <li appDropDown class="dropdown">
          <a class="dropdown-toggle" role="button" style="cursor: pointer;">
            Manage <span class="caret"></span>
          </a>

          <!-- Dropdown content-->
          <ul class="dropdown-menu">
            <li><a>Save data</a></li>
            <li><a>Fetch data</a></li>
          </ul>
        </li>
      </ul>
      <!-- End of dropdown menu -->

    </div>
  </div>
  <!-- End of container fluid -->
</nav>
