<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddIngredients()">
      <div class="row">

        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input #nameInput class="form-control" id="name" type="text">
        </div>

        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input #amountInput class="form-control" id="amount" min="1" type="number">
        </div>

        <div class="row">
          <div class="col-sm-12" style="margin-left: 15px">
            <button class="btn btn-danger mr-5" type="button">Delete</button>
            <button class="btn btn-warning mr-5" type="button">Clear</button>
            <button class="btn btn-success" type="submit">Add</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
